/*! solo.andreasdzialocha.com (2015) */

*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* reset */

html, body, div, span, iframe, h1, p, img, button, canvas
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body
{
  line-height: 1;
}

/* global */

html, body
{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body
{
  color: #fff;
  background-color: #000;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

button
{
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

button:hover
{
  background-color: #fff;
  color: #000;
}

a
{
  color: #fff;
  text-decoration: underline;
}

a:hover
{
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

/* layout */

.wrapper
{
  height: 100%;
  cursor: none;
}

.wrapper--user-active
{
  cursor: crosshair;
}

/* bar */

.bar
{
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100px;

  -ms-transform: translate3d(0, 100px, 0);
  -moz-transform: translate3d(0, 100px, 0);
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);

  -webkit-transition: all .55s ease-in-out 0s;
  transition: all .55s ease-in-out 0s;

  opacity: 0.0;
}

.wrapper--user-active .bar, .bar:hover
{
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  opacity: 1.0;

  cursor: crosshair;
}

/* bar playlist */

.bar__playlist
{
  float: left;
  padding-left: 20px;
}

button.bar__playlist__button
{
  height: 100px;
  border-right: none;
  border-bottom: none;
}

button.bar__playlist__button:last-child
{
  border-right: 1px solid #fff;
}

/* bar credits */

.bar__credits
{
  float: right;
  padding-right: 20px;
  padding-bottom: 20px;
  height: 100px;
  display: table;
}

.bar__credits__content
{
  display: table-cell;
  vertical-align: bottom;
}

.bar__credits p
{
  line-height: 1.5em;
}

.bar__credits p, .bar__credits a
{
  color: #333;
  text-transform: uppercase;
}

/* messages */

.message
{
  position: absolute;

  height: 100%;
  width: 100%;

  display: none;
}

.message.message--visible
{
  display: table;
}

.message__content
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.message__content h1, .message__content p
{
  text-align: center;
  text-transform: uppercase;
}

.message__content h1
{
  font-weight: bold;
}
