/* reset */

html, body, div, span, iframe, h1, p, img, button
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body
{
  line-height: 1;
  cursor: crosshair;
}

/* layout */

html, body
{
  height: 100%;
  width: 100%;
}

body
{
  background-color: #000;
  font-family: "Arial", sans-serif;
  overflow: hidden;
}

.wrapper
{
  height: 100%;
}

/* loading */

.message
{
  height: 100%;
  width: 100%;
  display: table;
}

.message h1
{
  display: table-cell;

  vertical-align: middle;
  text-align: center;

  color: #fff;
  text-transform: uppercase;
}

.message button
{
  display: table-cell;

  vertical-align: middle;
  text-align: center;

  color: #fff;
  text-transform: uppercase;
}

.message.hidden
{
  display: none;
}

/* grid */

.row
{
  height: 33.3%;
}

.cell
{
  float: left;

  width: 16.66%;
  height: 100%;

  background-color: #000;

  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.cell.active
{
  background-color: #fff;
}
